<% binding.pry %>

<% if @home.sold == true %>
	<h1>Charming Home in <%= @home.neighborhood %> - SOLD</h1>
<% else %>
	<h1>Charming Home in <%= @home.neighborhood %></h1>
<% end %>


<h2>Bedrooms:</h2>
<p><%= @home.bedrooms %></p>

<h2>Bathrooms:</h2>
<p><%= @home.bathrooms %></p>

<h2>Square Footage:</h2>
<p><%= @home.square_footage %></p>


<% if @home.address %>
	<h2>Address:</h2>
	<p><%= @home.address.street %></p>
	<p><%= @home.address.city %>, <%= @home.address.state %> <%= @home.address.zip %></p>
	<%= link_to 'Edit Address', edit_address_path(@home.address) %>
<% else %>
	<h3>No addresses found. Please create one!</h3>
	<h3><%= link_to 'Add a New Address for this Location', new_address_path(home_id: @home.id) %></h3>
<% end %>

<hr>

<h3>

<%= link_to 'Edit Home', edit_seller_home_path(@seller, @home) %> | 

<%= link_to 'Delete Home', seller_home_path(@seller, @home), method: :delete, data: {confirm: 'Really delete?'} %> |

<%= link_to "See all homes from #{@seller.name}", seller_homes_path(@seller) %>

</h3>