<!DOCTYPE html>
<html>
<head>
  <title>RealEstate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="banner">
<h1>Mogul-Up Realty</h1>
<h3>"Above ground pools are more expensive than you'd think"</h3>
</header>

<section class="container">

	<% if flash.any? %>
	<% flash.each do |key, value| %>
			<div class="flash <%= key %>">
				<%= value %>
			</div>
		<% end %>
	<% end %>

	<%= yield %>

</section>

</body>
</html>
